<div class="flex items-center justify-between shadow flex-wrap py-4 px-8 lg:py-6">
    <div class="brand flex flex-shrink items-center text-white mr-8 cursor-pointer">
        <a href="/" class="uppercase text-md text-wgbc no-underline">
            Word Of Grace
        </a>
    </div>
    <div class="lg:hidden">
        <button class="nav-dropdown border border-max-light text-max py-2 px-4 rounded">
            <i class="fa fa-bars text-lg"></i>
        </button>
    </div>
    <div class="w-full hidden dropdown-nav ml-auto lg:flex lg:items-center lg:w-auto lg:opacity-100">
        <div class="text-sm">
            <a class="block mt-4 lg:inline-block text-black no-underline lg:mt-0 mr-6 cursor-pointer hover:text-wgbc nav-item" href="/">Home</a>
            <a class="block mt-4 lg:inline-block text-black no-underline lg:mt-0 mr-6 cursor-pointer hover:text-wgbc nav-item">Ministries</a>
            <a class="block mt-4 lg:inline-block text-black no-underline lg:mt-0 mr-6 cursor-pointer hover:text-wgbc nav-item" href="/contact">Contact</a>
            <a class="block mt-4 lg:inline-block text-black no-underline lg:mt-0 mr-6 cursor-pointer hover:text-wgbc nav-item" href="/about-us">About Us</a>
            <a class="block mt-4 lg:inline-block text-black no-underline lg:mt-0 mr-6 cursor-pointer hover:text-wgbc nav-item">Give/Partner</a>
            <a class="block mt-4 lg:inline-block text-black no-underline lg:mt-0 mr-6 cursor-pointer hover:text-wgbc nav-item">Events</a>

            <div class="inline-block">
                <a class="w-auto rounded-100 bg-wgbc shadow px-4 text-sm py-1 text-center text-white border-2 border-wgbc lg:mt-0 cursor-pointer hover:text-wgbc hover:bg-white">Visit Us</a>
            </div>
        </div>
    </div>
</div>