{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {% block title %}
    <title>Word Of Grace Bible Church.</title>
    {% endblock title %}
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Reem+Kufi|Lobster" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
    <link rel="stylesheet" href="{% static '/css/dist/style.css' %}"> {% block links %} {% endblock links %}

</head>

<body>
    {% include "./partials/header.html" %} {% block content %} {% endblock content %} {% include "./partials/footer.html" %}
    <script src="/static/js/dist/site.js"></script> {% block scripts %} {% endblock scripts %}
</body>

</html>